@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700); 

#chatws {
   margin-top: 100px
} 

#chatws .tabs {
   display: block;
   background: #09776C;
   color: #fff;
   position: fixed;
   width: 100%;
   top: 0px;
   left: 0px;
   z-index: 99999999999999;                             
   background: #075e55;
   padding: 10px;
}

#chatws .chat #message_box {
   margin-top:-30px;
   padding-right:20px;
   white-space: pre-line;
   line-height: 0;
   position: relative;
   bottom: 50px;
   height:450px;
   overflow-y:auto; 
}
#chatws .bubble-left,
#chatws .bubble-right {
   line-height: 100%;
   display: block;
   position: relative;
   padding: .5em;
   -webkit-border-radius: 11px;
   -moz-border-radius: 11px;
   border-radius: 5px;
   margin-bottom: 1.5em;
   clear: both;
   max-width: 80%;
   border: 1px solid #dadada
}

#chatws #message_box p {
   margin: 0;
}

#chatws .bubble-left {
   float: left;
   margin-right: 10%;
   background: #fff;

}

#chatws .bubble-left .name {
   display: block;
   color: #42A1FF;
}

#chatws .bubble-right {
   float: right;
   margin-left: 10%;
   background: #e2ffc7;
}

#chatws .bubble-right .name {
   display: block;
   color: #42A1FF
}

#chatws .chat #message_box .name {
   margin-bottom: 6px;
}

#chatws .chat #message_box .date {
   color: #777;
   display: block;
   margin-top: 6px;
   font-size: 10px;
   text-align: right;
}

#chatws .chat #message_box .msgc {
   color: #333;
   padding-top:-20px;
}

#chatws .chat #msg_form {
   padding-top: 1.5px;
   display: block;
   float: left;
   width: 100%;
}

#chatws .chat input {
   display: block;
   border-radius: 0;
   background-color: #fbfbfb;
   padding: 10px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -ms-box-sizing: border-box;
   box-sizing: border-box;
   border: 3px solid rgba(0,0,0,0);
  
   -webkit-box-shadow:  0px -2px 4px 2px rgba(0, 0, 0, .1);
   -moz-box-shadow:  0px -2px 4px 2px rgba(0, 0, 0, .1);
   box-shadow:  0px -2px 4px 2px rgba(0, 0, 0, .1);               
}

#chatws .chat input#name {
   width: 30%;   
   left: 0px;           
}

#chatws .chat input#message {
   width: 100%;   
   right: 0px;
}