<!-- <template>
<div class="login-box">
  <div class="login-logo">
    <a href="">
    </a>
  </div>

  <div class="login-box-body">
    <p class="login-box-msg">Masuk Untuk memulai sesi Anda</p>

    <form method="post" action="#" id="form1">
      <div class="form-group has-feedback">
        <input type="username" name="email" class="form-control" placeholder="Email">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback fake-input">
        <input type="password" id="password" name="password" class="form-control" placeholder="Password">
        <img id="show-hide" class="icon-show-hide" src="http://localhost/cms_new/assets/images/show.png" width=35 />
        <a id="showhide" style="display: none">Show</a>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <input name="remember" id="remember" type="checkbox"> Ingatkan Saya
            </label>
          </div>
        </div>
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Masuk</button>
        </div>
      </div>
    </form>
  </div>
</div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script> -->
<template>
  <p>dddd</p>
</template>