@charset "utf-8";
/* CSS Document */

.clip01, .clip02, .clip03, .clip04 {
  width: 50%;
  height: 81vh;
  position: absolute;
  display: block;
  background-color: #000;
  color: #000;
  clip-path: polygon(0 0, 100% 0, 43% 100%, 0% 100%);
}
.clip02 {
  width: 65%;
  clip-path: polygon(22% 0%, 100% 0%, 100% 100%, 0% 100%);
  margin-left: 30.2vw;
  height: 40%;
}
.clip03 {
  width: 45%;
    clip-path: polygon(31.7% 0%, 100% 0%, 75% 100%, 0% 100%);
    margin-left: 18.1vw;
    height: 41%;
    margin-top: 28.9%;
}
.clip04 {
  width: 45%;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
  margin-left: 46.5vw;
  height: 41%;
  margin-top: 28.9%;
}

@media screen and (max-width: 1366px) {
  .clip02 {
    margin-left: 30.3vw;
    clip-path: polygon(21.9% 0%, 100% 0%, 100% 100%, 0 100%);
  }
  .clip03 {
    margin-left: 18.2vw;
    margin-top: 40vh;
  }
  .clip04 {
   margin-left: 46.8vw;
    margin-top: 40vh;
}
}

@media (max-width: 575.98px) {
	.clip01, .clip02, .clip03, .clip04 {
    width: 100%;
    height: 25%;
    position: relative;
    display: block;
    background-color: #000;
    color: #000;
    clear: left;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    margin-left: 0px;
    margin-top: 0px;
  }
}

@media (width: 1440px) {
	.clip02 {
		margin-left: 35.7%;
	}
	.clip03 {
    margin-left: 262px;
    margin-top: 36.9%;
	}
	.clip04 {
    margin-left: 46.7vw;
    margin-top: 36.9%;
	}
}
@media (width: 1280px) {
	.clip02 {
		margin-left: 35.7%;
	}
	.clip03 {
    margin-left: 18.2vw;
    margin-top: 25.4%;
	}
	.clip04 {
    margin-left: 46.7vw;
    margin-top: 25.4%;
	}
}